<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ceanie.dao.DeptDao">

    <select id="findById" resultType="xyz.ceanie.entity.Depts" parameterType="java.lang.Integer">
      select * from depts where did=#{id}
    </select>

    <select id="findAll" resultType="xyz.ceanie.entity.Depts">
      select * from depts
    </select>

    <insert id="addDept" parameterType="xyz.ceanie.entity.Depts">
        insert into depts(dname,db_source) values(#{dname},DATABASE())
    </insert>

</mapper>