server:
  port: 7002

eureka:
  #server: 取消自我保护机制，不建议使用
    #enable-self-preservation: false
  instance:
    hostname: eureka7002.com #eureka 的服务端的实例名称
  client:
    register-with-eureka: false #表示自己不想注册中进行注册自己
    fetch-registry: false #表示自己就是注册中心，就是维护服务实例的，不需要进行检索服务
    service-url:
      #defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka #设置Eureka server 互交的地址，查询服务注册中心都需要这个地址
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7003.com:7003/eureka/